:root {
  --bg-color-01: #121212;
  --bg-color-02: #1e1e1e;
  --bg-color-03: #222;
  --bg-color-04: #242424;
  --bg-color-05: #272727;
}
/* remove google sign-in pop up */
#animated-container {
  display: none;
}

/* width of content box around buttons + job search*/
.is-desktop .jobsearch-RichSearch .jobsearch-RichSearchBody {
  width: 90vw !important;
}

/* padding of content box around buttons + job search */
.is-desktop .jobsearch-RichSearch .jobsearch-RichSearchBody {
  margin: 0 auto;
  padding: 0 1rem;
}

/* box around buttons + job search */
.is-desktop .jobsearch-RichSearch {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0.5rem 0 0 0;
  border-bottom: 1px solid #e4e2e0;
  width: 100%;
}

/* job search fields */
[dir]
  .MosaicProviderRichSearchDaemon
  .yosegi-EmbeddedLabelInput
  .icl-TextInput-control {
  border: 1px solid #000000;
  padding: 0.25rem 0.5rem;
  color: #303030;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  outline-offset: 0 !important;
}

/* focus version */
[dir]
  .MosaicProviderRichSearchDaemon
  .yosegi-EmbeddedLabelInput
  .icl-TextInput-control:focus {
  border: 1px solid #000000;
  padding: 0.25rem 0.5rem !important;
  color: #303030;
  font-family: Noto Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5rem;
  outline-offset: 0 !important;
}

/* Change how close to search the "what" & "where" text is */
[dir]
  .MosaicProviderRichSearchDaemon
  .yosegi-EmbeddedLabelInput
  .icl-TextInput-labelWrapper {
  margin: 0 0.5rem 0 0;
  line-height: 1.125rem;
  white-space: nowrap;
  word-break: keep-all;
}

/* controls margin-bottom of search in relation to filter buttons */
.MosaicProviderRichSearchDaemon .yosegi-InlineWhatWhere {
  margin-bottom: -0.5rem;
}

/* flex wrapper, center buttons */
.MosaicProviderRichSearchDaemon .yosegi-FilterPill-pillList {
  display: flex;
  margin: 0;
  justify-content: center;
}

/* job filter butons */
.MosaicProviderRichSearchDaemon
  .yosegi-FilterPill.is-desktop
  .yosegi-FilterPill-pill {
  box-sizing: border-box;
  height: auto;
  min-width: 5.5rem;
  padding: calc(0.25rem + 2px) calc(0.5rem + 2px);
  border: 0;
  justify-content: center;
  margin: 0 0.35rem 0.35rem 0;
}
