:root {
  --bg-color-01: #ff0000;
  --bg-color-02: #1e1e1e;
  --bg-color-03: #222;
  --bg-color-04: #242424;
  --bg-color-05: #272727;
}

/* Invert filter to make the page dark */
html {
  filter: invert(100%);
}

/* Hide all divs with the class `promo` */
div[class*="promo" i] {
  display: none !important;
}

/* Hide all divs with the class `promo` */
div[class*="css" i] {
  margin-top: 0;
  margin-bottom: 0;
}

[class*="disclaimer" i] {
display: none !important;
}

