:root {
  --bg-color-01: #121212;
  --bg-color-02: #1e1e1e;
  --bg-color-03: #222;
  --bg-color-04: #242424;
  --bg-color-05: #272727;
  --bg-color-06: #2c2c2c;
  --bg-color-07: #2e2e2e;
  --bg-color-08: #333;
  --bg-color-09: #343434;
  --bg-color-10: #383838;
  --txt-color-01: #c2c2c2;
  --txt-color-02: #a6a6a6;
  --txt-color-03: #7a7a7a;
  --link-color-01: #f00;
  --link-color-02: #a00;
  --link-color-03: #600;
}

body *,
html *,
head *,
footer * {
  background: var(--bg-color-01) !important;
  background-color: var(--bg-color-01) !important;
}

h1 *,
h2,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *,
p,
p * {
  background-color: none !important;
  color: var(--txt-color-01) !important;
}

tbody,
table,
table th,
table td,
table tr {
  color: var(----txt-color-02) !important;
  background: var(--bg-color-01) !important;
  background-color: var(--bg-color-01) !important;
  border: 1px solid var(--bg-color-01);
}

caption,
pre,
.block,
ul,
ol,
li,
fieldset,
form,
input,
label,
legend {
  color: var(----txt-color-02) !important;
  background: var(--bg-color-01) !important;
}

span,
code,
kbd,
pre,
[class*="code"],
div[class*="code"] {
  background-color: var(--bg-color-03) !important;
}

svg,
.svg {
  fill: white !important;
}

[class*="icon"] {
  color: white !important;
}

a *,
a[id*="*"],
a[class*="*"] a:link *,
a:visited,
a:active,
a:focus,
li a {
  color: var(--link-color-02);
}

a:hover {
  color: var(--link-color-01);
  background: none !important;
  background-color: none !important;
}

em,
i,
.italic {
  color: var(--txt-color-02) !important;
  border: none;
}

strong,
b,
.bold {
  color: var(--txt-color-02) !important;
  border: none;
}

cite {
  color: var(--txt-color-03);
}

button,
.btn,
div[class*="btn"],
div[id*="btn"] {
  background-color: inherit !important;
  color: var(----txt-color-02) !important;
  border: inherit !important;
}

span[class*="button"],
span[id*="button"] {
  background-color: inherit;
  color: var(----txt-color-02) !important;
  border: none;
}

div[class*="nav"],
div[class*="bar"],
div[class*="side"],
[class*="side"],
[class*="card"],
[class*="menu"],
div[class*="foot"],
[class*="foot"],
div[class*="container"] {
  color: var(----txt-color-02) !important;
  background-color: var(--bg-color-01) !important;
}

p.div,
div[id*="nav"],
div[id*="bar"],
div[id*="side"],
div[id*="footer"],
div[id*="foot"],
[class*="light"],
div::before {
  color: var(----txt-color-02) !important;
  background-color: var(--bg-color-01) !important;
}
